﻿
<div>
    <h3>Companies</h3>
    <input type="button" value="Get All Companies" onclick="GetAllCompanies()" />
    <ul style="list-style: none" id="company" />
</div>
<div>
    <h3>Search Companies by ID</h3>
    <input type="text" id="CompanyId" size="5" />
    <input type="button" value="Search" onclick="FindCompany()" />
    <p id="company2" />
</div>
<div>
    <h3>Add Company </h3>
    <table>
        <tr>
            <td>Company Name</td>
            <td><input type="text" id="txtCompanyName" /></td>
        </tr>
        <tr>
            <td colspan="3" align="left"><input type="button" value="Create" onclick="AddCompany()" /></td>
        </tr>
    </table>
    <div>
        <h3>Delete Company by ID</h3>
        <input type="text" id="deleteCompany" size="5" />
        <input type="button" value="Delete" onclick="DeleteCompany()" />
    </div>
    <div>
        <h3>Update User </h3>
        <table>
            <tr>
                <td>Id</td>
                <td><input type="text" id="txtCId" /></td>
            </tr>
            <tr>
                <td>Comany Name</td>
                <td><input type="text" id="txtCName" /></td>
            </tr>
            <tr>
                <td colspan="3" align="left"><input type="button" value="update" onclick="UpdateCompany()" /></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div id="body" class="col-md-4">
        <ol id="users"></ol>
    </div>
    <div id="body" class="col-md-4">
        <ol id="companies"></ol>
    </div>
    <div id="body" class="col-md-4">
        <ol id="defects"></ol>
    </div>
</div>

@section scripts {
    <script>
        function GetAllCompanies() {
            makeRestRequest('/API/Company/', 'GET', undefined, 
            function(result) {
                var list = $('#company');
                list.empty();
                for (var i = 0; i < result.length; i++) {
                    var company = result[i];
                    list.append('<li>' + company.Id + " - " + company.Name + '</li>');
                }
            }, 
            function() {
                alert('Some error occurred');
            });
        }

        function FindCompany() {
            var url = '/API/Company/' + $('#CompanyId').val();
            makeRestRequest(url, 'GET', undefined,
            function (result) {
                $('#company2').text(result.Id + " " + result.Name);
            },
            function () {
                $('#company2').text('Error: ' + err);
            });
        }

        function AddCompany() {
            var company = {
                Name: $('#txtCompanyName').val(),
            };
            
            makeRestRequest('/API/Company/', 'PUT', JSON.stringify(company),
            function (result) {
                alert('Comany added');
                GetAllCompanies();
            },
            function () {
                alert('Some error occured');
            });
        }
        
        function DeleteCompany() {
            var url = '/API/Company/' + $('#deleteCompany').val();
            makeRestRequest(url, 'DELETE', undefined,
            function (result) {
                alert('Company deleted');
                GetAllCompanies();
            },
            function () {
                alert('Some error occured');
            });
        }

        function UpdateCompany() {
            var company = {
                Id: $('#txtCId').val(),
                Name: $('#txtCName').val(),
            };
            makeRestRequest('/API/Company/PostCompany', 'POST', JSON.stringify(company),
            function (result) {
                alert('Company updated');
                GetAllCompanies();
            },
            function () {
                alert('Some error occured');
            });
        }
        
        function makeRestRequest(url, type, data, successCallback, errorCallback) {
            $.ajax({
                url: url,
                type: type,
                data: data == undefined ? null : data,
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('x-cmps-383-authentication-key', $.cookie('ApiKey'));
                    xhr.setRequestHeader('x-cmps-383-authentication-id', $.cookie('UserId'));
                },
                success: function (result) {
                    successCallback(result);
                },
                error: function (jqXHR, textStatus, err) {
                    if (jqXHR.status == 401) {
                        alert("Invalid API Key/User Id detected");
                        return;
                    }

                    errorCallback();
                },
            });
        }
    </script>
}