﻿<div>
    <h3>Project List</h3>
    <input type="button" value="GetAll" onclick="GetAllProjects()" />
    <ul id="projects" />
</div>
<div>
    <h3>Search Project by ID</h3>
    <input type="text" id="ProjectId" size="5" />
    <input type="button" value="Search" onclick="FindProject()" />
    <p id="project" />
</div>
<div>
    <h3>Create Project</h3>
    <table>
        <tr>
            <td> New Title</td>
            <td> <input type="text" id="projTitle" /></td>
        </tr>
        <tr>
            <td>Company ID</td>
            <td> <input type="text" id="compId" /></td>
        </tr>
        <tr>
            <td colspan="3" align="left"><input type="button" value="update password" onclick="AddProject()" /></td>
        </tr>
    </table>
</div>


<div>
    <h3>Delete Project by ID</h3>
    <input type="text" id="deleteProject" size="5" />
    <input type="button" value="Delete" onclick="DeleteProject()" />
</div>
<div>
    <h3>Update Project</h3>
    <table>
        <tr>
            <td>Project ID</td>
            <td> <input type="text" id="txtProjId" /></td>
        </tr>
        <tr>
            <td> New Title</td>
            <td> <input type="text" id="txtProjTitle" /></td>
        </tr>
        <tr>
            <td>Company ID</td>
            <td> <input type="text" id="txtCompId" /></td>
        </tr>
        <tr>
            <td>Company Name</td>
            <td> <input type="text" id="txtCompName" /></td>
        </tr>
        <tr>
            <td colspan="3" align="left"><input type="button" value="update project" onclick="UpdateProject()" /></td>
        </tr>
    </table>
</div>


<div class="row">
    <div id="body" class="col-md-4">
        <ol id="users"></ol>
    </div>
    <div id="body" class="col-md-4">
        <ol id="companies"></ol>
    </div>
    <div id="body" class="col-md-4">
        <ol id="defects"></ol>
    </div>
</div>


@section scripts{
    <script>



        function FindProject() {
            var id = $('#ProjectId').val();
            $.ajax({
                url: '/API/Project/' + id,
                type: 'GET',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('x-cmps-383-authentication-key', $.cookie('ApiKey'));
                    xhr.setRequestHeader('x-cmps-383-authentication-id', $.cookie('UserId'));
                },
                success: function (result) {
                    $('#project').text(result.Title + " " + result.CompanyId + " " + result.CompanyName);
                },
                error: (function (jqXHR, textStatus, err) {
                    $('#project').text('Error: ' + err);
                })
            });
        }

        function AddProject() {

            var project = {
                Title: $('#projTitle').val(),
                CompanyId: $('#compId').val(),
            };

            $.ajax({
                url: '/API/Project/',
                type: 'POST',
                data: JSON.stringify(project),
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('x-cmps-383-authentication-key', $.cookie('ApiKey'));
                    xhr.setRequestHeader('x-cmps-383-authentication-id', $.cookie('UserId'));
                },
                success: function (data) {
                    alert('Project added');
                    GetAllProjects();
                },
                error: function () {
                    alert('Some error occured');
                }
            });
        }
        function DeleteProject() {
            var id = $('#deleteProject').val();
            $.ajax({
                url: '/API/Project/' + id,
                type: 'DELETE',
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('x-cmps-383-authentication-key', $.cookie('ApiKey'));
                    xhr.setRequestHeader('x-cmps-383-authentication-id', $.cookie('UserId'));
                },
                success: function (data) {
                    alert('Project deleted');
                    GetAllProjects();
                },
                error: function () {
                    alert('User not found');
                }
            });

        }

        function UpdateProject() {
            var proj = {
                Id: $('#txtProjId').val(),
                Title: $('#txtProjTitle').val(),
                CompanyId: $('#txtCompId').val(),
                CompanyName: $('#txtCompName').val(),
            };

            $.ajax({
                url: '/API/Project/' + $('#txtProjId').val(),
                type: 'PUT',
                data: JSON.stringify(proj),
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('x-cmps-383-authentication-key', $.cookie('ApiKey'));
                    xhr.setRequestHeader('x-cmps-383-authentication-id', $.cookie('UserId'));
                },
                success: function (data) {
                    alert('project updated');

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Some error occured');
                }
            });
        }


        function GetAllProjects() {
            $.ajax({
                url: '/API/Project/',
                type: 'GET',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('x-cmps-383-authentication-key', $.cookie('ApiKey'));
                    xhr.setRequestHeader('x-cmps-383-authentication-id', $.cookie('UserId'));
                },
                success: function (projects) {
                    var list = $('#projects');
                    for (var i = 0; i < projects.length; i++) {
                        var project = projects[i];
                        list.append('<li>' + project.Id + "   " + project.Title + " " + project.CompanyId + " " + project.CompanyName + '</li>');
                    }
                },
                error: function () {
                    alert('Some error occurred')
                },

            });

        }
    </script>
}